<script type="text/ng-template" id="home.html">
    
    <h1>Dashboard</h1>
    
    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <a class="btn btn-default" ui-sref=".lines">Project Status</a>
        <a class="btn btn-default" ui-sref=".milestones">Assembly Line Status</a>
        <a class="btn btn-default" ui-sref=".tasks">Task Status</a>
    </div>
    
    <p>&nbsp;</p>
    <div ui-view></div>

</script>

<script type="text/ng-template" id="home.lines.html">
    
    <div ng-repeat="p in projects">
        <h2>{{p.name}}</h2>
        
        <table class="table table-striped" ng-if="p.assemblyLines.length">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="m in p.assemblyLines[0].cycle.milestones">{{m.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in p.assemblyLines">
                    <th scope="row">{{l.line.name}}</th>
                    <td ng-repeat="m in p.assemblyLines[0].cycle.milestones"><i>{{milestoneStatuses[l.cycle.milestones[$index].status]}}</i></td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <div loader loader-if="isLoading"></div>

</script>