@using AssemblyLine.DAL.Entities
@using AssemblyLine.Infrastructure.Helpers
<script type="text/ng-template" id="vehicles.html">

    <h1>Vehicles <a class="btn btn-default" ui-sref="^.vehiclecreate"><i class="glyphicon glyphicon-plus"></i></a></h1>
    <div class="list-group" infinite-scroll="nextPage()">
        <a href="" ng-repeat="i in items" ui-sref="^.vehicledetails({id: i.id})" class="list-group-item">
            {{i.name}}
        </a>
    </div>

    <div loader loader-if="isLoading"></div>

    <p ng-if="items.length == 0 && !isLoading"><i>There are no vehicles.</i></p>

</script>

<script type="text/ng-template" id="vehicles.details.html">

    <h1>Vehicle Details</h1>

    <div class="col-sm-12">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="update(itemForm, item)">

            <div class="form-group">
                <label for="name">@Html.DisplayNameFor(x => new Vehicle().Name)</label>
                <input type="text" class="form-control" id="name" placeholder="" ng-model="item.name" @Html.RequiredFor(x => new Vehicle().Name) />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.vehicles">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Save</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Saved</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Saving...</span>
                </button>
                <a href="#" class="btn btn-default" on-confirm-click confirm-click="delete(item)">Delete</a>
            </div>

        </form>

        <i ng-if="!item">Not Implemented</i>

        <div loader loader-if="!item && isLoading"></div>

    </div>

</script>

<script type="text/ng-template" id="vehicles.create.html">

    <h1>New Vehicle</h1>

    <div class="col-sm-12">

        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="create(itemForm, item)">

            <div class="form-group">
                <label for="name">@Html.DisplayNameFor(x => new Vehicle().Name)</label>
                <input type="text" class="form-control" id="name" placeholder="" ng-model="item.name" @Html.RequiredFor(x => new Vehicle().Name) />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.vehicles">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Create</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Created</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Creating...</span>
                </button>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>

    </div>
</script>