@{
    ViewBag.Title = "Assembly Line Application";
}

<div ui-view></div>

@section TitleBinding { ng-bind="pageTitle" }

@section scripts {
    @Scripts.Render("~/bundles/app")
}

@Html.Partial("_Home")