<?xml version="1.0" encoding="utf-8" ?>
<!-- https://github.com/njupiter/njupiter/wiki/nJupiter.DataAccess.Ldap -->
<configuration>
  <ldapServers>
    <ldapServer value="JumpCloud">
      <url value="ldap://ldap.jumpcloud.com:389/o=554b32a72a7cb1d26504addf,dc=jumpcloud,dc=com" />
      <username value="uid=admin,ou=Users,o=554b32a72a7cb1d26504addf,dc=jumpcloud,dc=com" />
      <password value="AssemblyLine" />
      <timeLimit value="5" />
      <sizeLimit value="100" />
      <users>
        <base value="ou=Users,o=554b32a72a7cb1d26504addf,dc=jumpcloud,dc=com" />
        <filter value="(objectClass=person)"/>
        <rdnAttribute value="uid" />
        <nameType value="cn" />
        <emailAttribute value="mail" />
        <!--<membershipUserWrappingEnabled value="false" />-->
      </users>
      <groups>
        <filter value="(objectClass=groupOfNames)"/>
        <rdnAttribute value="cn" />
        <nameType value="cn" />
        <membershipAttribute value="member" />
      </groups>
    </ldapServer>
  </ldapServers>
</configuration>