<?xml version="1.0" encoding="utf-8" ?>
<!-- https://github.com/njupiter/njupiter/wiki/nJupiter.DataAccess.Ldap -->
<configuration>
  <ldapServers>
    <ldapServer value="Forumsys">
      <url value="LDAP://ldap.forumsys.com:389/dc=example,dc=com" />
      <!--<username value="cn=read-only-admin,dc=example,dc=com" />
      <password value="password" />-->
      <timeLimit value="5" />
      <sizeLimit value="100" />
      <users>
        <filter value="(objectClass=person)"/>
        <rdnAttribute value="uid" />
        <nameType value="cn" />
        <!--<membershipAttribute value="memberOf" />-->
        <emailAttribute value="mail" />
        <membershipUserWrappingEnabled value="false" />
      </users>
      <groups>
        <filter value="(objectClass=groupOfUniqueNames)"/>
        <rdnAttribute value="cn" />
        <nameType value="cn" />
        <membershipAttribute value="uniqueMember" />
      </groups>
    </ldapServer>
  </ldapServers>
</configuration>