body {
    padding-bottom: 20px;
    background: #eaeaea;
    text-align: center;
}

a,
a:link,
a:visited,
a:hover,
a:target {
    color: #0d80dc;
    text-decoration: none;
}


.brand {
    height: 40px;
    background: url(images/brand.png) no-repeat center center;
    -ms-background-size: contain;
    background-size: contain;
    margin: 50px auto;
    text-indent: -1000em;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    font-size: 11px;
    color: #a9a9a9;
    border-top: 1px solid #dddddd;
    padding: 20px;
    margin-top: 50px;
}

/* Bootstrap Overridden */

h1, .h1 {
    color: #129e5e;
}