<?xml version="1.0" encoding="utf-8" ?>
<!-- https://github.com/njupiter/njupiter/wiki/nJupiter.DataAccess.Ldap -->
<ldapServers>
  <ldapServer value="ForumsysServer" default="true">
    <url value="LDAP://ldap.forumsys.com:389" />
    <username value="cn=read-only-admin,dc=example,dc=com" />
    <password value="password" />
    <timeLimit value="5" />
    <sizeLimit value="100" />
    <users>
      <filter value="(objectClass=inetOrgPerson)"/>
      <rdnAttribute value="uid" />
    </users>
  </ldapServer>
</ldapServers>